@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #0d0f12;
  color: #e0e2e8;
}